.jumbo {
  padding-top: 100px;
  background-color: white;
  color: $primary_color;
  .teaser {
    h1 {
      font-weight: 300;
    }
    h1 strong {
      font-weight: 400;
      display: block;

    }
    & .lead {
      margin-top: 10px;
    }
    & .lista {
      padding-left: 20px;
      font-size: 18px;
      font-weight: 100;
    }
  }

  .pc-black {
    width: 500px;
  }
}
