.jumbo {
  background-color: white;
  color: $primary_color;
  .teaser h1 {
    font-weight: 300;
  }
  .teaser h1 strong {
    font-weight: 400;
    display: block;

  }
  & .lead {
    margin-top: 10px;
  }
  & .lista {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 100;
  }
}
