section.jumbo-faq {
  padding:0 65px;
  h2 {
    padding-left: 0;
  }

}
section.list-faq {
  .before {
    background-color: #e8ebf1;
    padding: 40px 80px;
    .question {
      h4 {
        padding: 20px 0;
        font-weight: 300;
      }
      i {
        float:right;
      }
      p{
        display: none;

      }
    }
  }
  .after {
    padding: 40px 80px;
    background-color: $primary_color;
    color: white;
    .question {
      h4 {
        padding: 20px 0;
        font-weight: 300;
      }
      i {
        float:right;
      }
      p{
        display: none;
      }
    }
  }
}
